@use '../abstracts' as *;

.hero {
  position: relative;

  .container {
    min-height: calc(100vh - $header);
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(medium) {
      justify-content: start;
    }
  }

  .content {
    margin-bottom: 2%;
    display: grid;
    gap: 8px;
    text-align: center;

    @include breakpoint(small) {
      text-align: left;
    }

    @include breakpoint(medium) {
      margin-left: 10%;
    }

    @include breakpoint(large) {
      margin-left: 14%;
      gap: 16px;
    }
  }

  .heading {
    display: grid;

    @include breakpoint(medium) {
      gap: 8px;
    }

    @include breakpoint(large) {
      gap: 16px;
    }

    p {
      font-size: $h-sm;
      font-weight: 500;
      line-height: 32px;

      @include breakpoint(small) {
        line-height: 40px;
      }
    }

    h1 {
      font-size: $h-xl;
      line-height: 56px;

      @include breakpoint(small) {
        line-height: 80px;
      }
    }
  }

  .text-cta {
    display: grid;
    gap: 16px;

    @include breakpoint(large) {
      gap: 24px;
    }

    p {
      max-width: 568px;
      font-size: $p-lg;
      line-height: 24px;

      @include breakpoint(small) {
        line-height: 32px;
      }

      span {
        font-weight: 700;
      }
    }
  }

  .btn {
    justify-self: center;

    @include breakpoint(small) {
      justify-self: start;
    }
  }

  .socials {
    position: absolute;
    bottom: 5%;
    left: 5%;

    @include breakpoint(medium) {
      flex-direction: column;
      top: 50%;
      transform: translateY(-50%);
      right: 3%;
      left: unset;
      bottom: unset;
    }
  }

  .scroll {
    position: absolute;
    bottom: 5%;
    right: 5%;
  }

  // button {
  //   position: relative;
  //   cursor: pointer;
  //   border: none;
  //   width: 300px;
  //   height: 80px;
  //   border-radius: 50px;
  //   outline: none;
  //   background: linear-gradient(90deg, #ec37d0, #d92b2b, #ffaa0d, #ec37d0);
  //   background-size: 400%;
  //   color: #fff;
  //   font-size: 24px;
  //   letter-spacing: 4px;
  // }
  // button::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -1;
  //   background: linear-gradient(90deg, #ec37d0, #d92b2b, #ffaa0d, #ec37d0);
  //   background-size: 400%;
  //   border-radius: 50px;
  //   opacity: 0;
  //   transition: 0.5s;
  // }
  // button:hover {
  //   animation: animate 10s linear infinite;
  // }
  // button:hover::before {
  //   filter: blur(25px);
  //   opacity: 0.8;
  //   animation: animate 10s linear infinite;
  // }
  // @keyframes animate {
  //   0% {
  //     background-position: 0%;
  //   }
  //   100% {
  //     background-position: 400%;
  //   }
  // }

  // .GradientBorder {
  //   position: relative;
  //   width: 450px;
  //   padding: 40px 0;
  //   font-size: 5em;
  //   color: #fff;
  //   text-align: center;
  //   letter-spacing: 5px;
  //   background: #020117;
  // }
  // .GradientBorder::after {
  //   content: '';
  //   position: absolute;
  //   top: -5px;
  //   left: -5px;
  //   right: -5px;
  //   bottom: -5px;
  //   background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  //   z-index: -1;
  // }
  // .GradientBorder::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  //   z-index: -2;
  //   filter: blur(40px);
  // }
}
