@use '../abstracts' as *;

.portfolio {
  position: relative;

  .project {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 48px;

      @include breakpoint(large) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .content {
      min-height: 440px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(large) {
        min-height: 600px;
      }
    }

    .reverse {
      order: 0;

      @include breakpoint(large) {
        order: 1;
      }
    }

    .text-cta {
      max-width: 632px;
      display: grid;
      gap: 16px;
    }

    .text {
      display: grid;
      gap: 8px;
      text-align: center;

      @include breakpoint(small) {
        text-align: left;
      }

      h2 {
        font-size: $h-lg;
        line-height: 48px;

        @include breakpoint(small) {
          line-height: 56px;
        }
      }

      p {
        font-size: $p-lg;
        line-height: 24px;

        @include breakpoint(small) {
          line-height: 32px;
        }
      }
    }

    .btn {
      justify-self: center;

      @include breakpoint(small) {
        justify-self: start;
      }
    }

    .image {
      // background: $primary-800;
      background-image: url('../../assets/images/brick-by-brick.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 4px;
      width: 100%;
      max-width: 680px;
      // height: 320px;

      @include breakpoint(small) {
        height: 416px;
      }
    }
  }
}
