@use '../abstracts' as *;

.portfolio {
  // Main three projects:
  .project {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 24px;

      @include breakpoint(large) {
        grid-template-columns: 1fr 1fr;
      }
    }
    .content {
      min-height: 440px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint(large) {
        min-height: 600px;
      }
    }

    .reordered {
      order: 1;

      @include breakpoint(large) {
        order: 0;
      }
    }

    .text-cta {
      max-width: 632px;
      display: grid;
      gap: 16px;
    }

    .text {
      display: grid;
      gap: 8px;
      text-align: center;

      @include breakpoint(small) {
        text-align: left;
      }

      h2 {
        font-size: $h-lg;
        line-height: 48px;

        @include breakpoint(small) {
          line-height: 56px;
        }
      }

      p {
        font-size: $p-lg;
        line-height: 24px;

        @include breakpoint(small) {
          line-height: 32px;
        }
      }
    }

    .btn {
      justify-self: center;

      @include breakpoint(small) {
        justify-self: start;
      }
    }

    .image {
      background: $primary-800;
      border-radius: 4px;
      max-width: 680px;
      width: 100%;
      height: 320px;

      @include breakpoint(small) {
        height: 416px;
      }
    }
  }

  // Other projects section:
  .other-projects {
    .header {
      .container {
        min-height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h2 {
        font-size: $h-md;
        line-height: 40px;

        @include breakpoint(small) {
          line-height: 48px;
        }
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;

      .wrapper {
        min-height: 296px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        @include breakpoint(small) {
          min-height: 360px;
        }
      }
    }

    .other-project {
      padding: 24px 32px;
      display: grid;
      gap: 24px;
      justify-items: center;
    }

    .image {
      display: inline-block;
      background: $primary-800;
      width: 104px;
      height: 104px;
      border-radius: 50%;

      @include breakpoint(small) {
        width: 120px;
        height: 120px;
      }
    }

    .text {
      max-width: 216px;
      display: grid;
      gap: 8px;
      text-align: center;
      line-height: 24px;

      @include breakpoint(small) {
        line-height: 32px;
      }

      h3 {
        font-size: $h-xs;
      }

      p {
        font-size: $p-md;
      }
    }
  }
}
