@use '../abstracts' as *;
@use 'sass:color';

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;

  &.exit {
    top: -100vw;
  }
}

.center-logo {
  display: flex;
  transform: scale(1.2);

  div:first-of-type {
    margin-right: -14px;
  }
}

.logo {
  display: flex;
}

.btn {
  position: relative;
  overflow: hidden;
  padding: 8px 16px;
  font-size: $p-lg;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: $white;
  background-color: transparent;
  background-clip: padding-box;
  transition: box-shadow 300ms, transform 150ms;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 15px $primary-500-main;
  }

  &:active {
    opacity: 0.9;
    transform: scale(0.975);
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 2px solid transparent;
    background-image: linear-gradient($primary-800, $primary-800), $primary-secondary;
    background-clip: padding-box, border-box;
    background-repeat: repeat-x;
    background-size: calc(100% + 2px * 2) calc(100% + 2px * 2);
    background-position: center;
    border-radius: 4px;
    z-index: -1;
    transition: border-color 200ms;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50vmax;
    border-radius: 50%;
    background-image: $primary-secondary-darken;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 200ms ease-in-out;
    z-index: -1;
  }

  &:hover::after {
    transform: translate(-50%, -50%) scale(1);
  }
}

.socials {
  display: flex;
  gap: 24px;

  a > * {
    transition: all 200ms ease-in-out;
  }
}

.icon {
  color: $white;

  &:hover > * {
    transform: scale(1.1) translateY(-15%);
  }
}

.scroll {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $white;
  font-size: $p-md;
  line-height: 24px;
  font-weight: 500;
  transition: all 200ms ease-in-out;

  @include breakpoint(small) {
    line-height: 32px;
  }

  &:active {
    color: $neutral-100;
    transform: scale(0.975);
  }

  div {
    opacity: 0;
    transform: translateX(24px);
    transition: all 300ms ease-in-out;
  }

  &:hover div {
    transform: translateX(0px);
    opacity: 1;
  }
}
