@use '../abstracts' as *;

body {
  background: $primary-900;
  color: $white;
}

.container {
  margin: 0 24px;

  @include breakpoint(medium) {
    margin: 0 48px;
  }

  @include breakpoint(xlarge) {
    margin: 0 96px;
  }
}

.logo {
  display: flex;
}

.btn {
  padding: 8px 16px;
  font-size: $p-lg;
  font-weight: 500;
  line-height: 32px;
  color: $white;
  background: transparent;
  border: 2px solid $primary-500-main;
  border-radius: 4px;
  transition: all 250ms ease;

  &:hover {
    cursor: pointer;
    background: $primary-500-main;
  }
}

.icon {
  color: $white;
}

.socials {
  display: flex;
  gap: 24px;
}

.scroll {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $white;
  font-size: $p-md;
  line-height: 24px;
  font-weight: 500;

  @include breakpoint(small) {
    line-height: 32px;
  }
}
